.mainBlock{
    background-color: #000000;
}


.projectsContainer{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    flex-wrap: nowrap;
}
.title{

}

.contactTextarea{
    resize: none
}
.form{
    gap: 10px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 800px) {
    .form{
        min-width: 100%;
    }
}