@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";
.skill {
    @include flexCenter();
    flex-direction: column;
    width: 120px;
    padding: 10px;
    .icon {
        @include flexCenter();
        width: 80px;
        height: 80px;
        border-radius: 100px;
        background-color:$textColor;
    }
    .skillTitle {
        font-weight: 100;
    }


}

