.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    padding: 10px;

}
.description{
    background-color: gray;
}
.skillTitle{
   font-weight: 100;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: white;
}