@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins.scss";
.titleContainer {
  .title {
    width: 370px;
    font-family: Kanit, sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding: 10px;
    color: $textColor;

  }
@include flex();
  width: 100%;
}