.skillsBlock {
    background-color: black;
    min-height: 30vh;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

}

.title {

}


.skills {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
