@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  color: $textColor;
  @include flex();
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border: 2px solid $textColor;

  .skillTitle {
    padding: 10px;
  }

  .imgContainer {
    background: #fff;
    width: 100%;
    height: 200px;
    @include flex();
    background-size: cover;
    background-position: center;
  }



  .button {

  }
}
