.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    border: 1px solid white;

}
.skillTitle{
    padding: 10px;

}
.imgContainer{
    background: #ffffff;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover ;
    background-position:center ;
}