@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock {
  padding-top: 40px;
  background-color: $bgColor;

  .footer {

    min-height: 100px;
    @include flex();
    flex-direction: column;

    .socialNetworkBlock {

      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 5px;
      transition: 3s;
      .iconContainer {
        @include flex();
        width: 55px;
        height: 55px;
        background-color: $textColor;
        box-sizing: border-box;
        border-radius: 3px;
        transition: all 0.5s ;

        &:hover {
          background-color: $bgColor;
          border:$textColor 1px solid;
          fill: $textColor;
        }
        .icon {
          @include flex();
          width: 40px;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
  }
}


