.projectsBlock {
    background-color: #baffb5;
    min-height: 50vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: slategray;
}

.projects {
    gap: 20px;
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
