
.projectsBlock {
    min-height: 50vh;
    background: #000000;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.title {
    background-color: slategray;
}

.projects {
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:909px ) {
    .projects{
        justify-content: center;
    }
}